.wrapper {
    display: grid;
    max-width: 1440px;
    width: 100%;
    min-height: 100vh; 
    margin: 0 auto;
    position: relative;
    background-color: #EBECEE;

    grid-template-areas:
            "h"
            "m"
            "f"
        ;
    grid-template-rows: 85px 1fr 146px;
}
header{
    grid-area: 'h';
    width: 100%;
    height: 85px;
}

main{
    display: grid;
    grid-area: 'm';
    height: 100%;
    grid-template-areas: "n c";
    grid-template-columns: 85px 1fr;

    @media (max-width: 600px) {
        grid-template-areas: "c";
        grid-template-columns: 1fr;
    }
}

footer{
    grid-area: 'f';
    height: 146px;
}

.navbar{
    grid-area: 'n';

    @media (max-width: 600px) {
        display: none;
    }
}

.content{
    grid-area: 'c';
}
