$purple: #766ED3;


.card__short{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 273px;
    padding-bottom: 10px;
    max-height: 469px;
    background: #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .main {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        gap: 10px;
        align-items: center;

        .favorite__section {
            display: flex;
            align-items: center;
            justify-content: center;
    
            background-color: $purple;
            min-height: 50px;
            width: 100%;
        }

        .image {
            max-width: 163px;
            max-height: 196px;
            object-fit: contain; 
        }

        .info{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 24px;
            color: #171313;

            .title {
                font-style: normal;
                font-weight: 500;
                font-size: 28px;
                line-height: 34px;
                color: #171313;
            }

            .price{
                display: flex;
                align-items: center;
                gap: 18px;

                span {
                font-weight: 400;
                font-size: 28px;
                line-height: 34px;
                color: #000000;
                transform: matrix(1, 0, 0, 1, 0, 0);
                }
            }
        }

        .stats{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            column-gap: 24px;
            row-gap: 10px;
            max-width: 230px;
            margin: 0 auto;

            .item{
                display: flex;
                align-items: center;
                gap: 11px;

                span {
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 29px;
                    color: #000000;
                }
            }
        }
    }
}