@import "../../../../../variables.scss";

.wrapper {
    margin-left: -8px;

    .findUser{
        display: flex;
        gap: 48px;
        margin-bottom: 50px;

        input {
            border: 2px solid rgba(118, 110, 211, 0.75);
            border-radius: 7px;
            width: 100%;
            padding: 11px 0px 11px 23px;
        }
    }

    .formControl {
        display: flex;
        flex-direction: column;
        gap: 10px;

        font-family: 'Inter';
        font-size: 20px;
        font-weight: 400;
        color: $grey;
    }

    .id{
        input {
            width: 125px;
        }
    }

    .firstname{
        input {
            width: 280px;
        }
    }

    .users {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
    .loading, .noUsers {
        height: 280px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 50px;
    }

    .noUsers{
        width: 100%;
        margin-bottom: 0px;
    }

    .find{
        background: #766ED3;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        border: 2px solid transparent;
        border-radius: 7px;
        height: 56px;
        width: 110px;
        align-self: flex-end;

        color: #fff;
        font-family: 'Inter';
        font-size: 20px;

        &:hover {
            transition: 0.3s;

            border: 2px solid rgba(118, 110, 211, 0.75);
            background-color: transparent;
            color: $purple;
        }
    }

    .error {
        color: $purple;
        font-size: 14px;
    }

    .status {
        margin-top: 20px;
        color: red;
        font-size: 18px;
        text-align: center;
    }
}

.pagination{
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}