@import "../../../styles/variables.scss";

$transition: all 0.3s linear;

.wrapper {
    @media (max-width: $laptop) {
        width: 380px;
    }
    @media (max-width: $tablet2) {
        width: 320px;
    }
    @media (max-width: $tablet) {
        width: 250px;
    }
    @media (max-width: $burger) {
        width: 260px;
    }

    width: 531px;
    height: 455px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // gap: 40px;

    .main {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        max-width: 310px;
        overflow: hidden;

        @media (max-width: $laptop) {
            max-width: 210px;
        }

        .main__image{
            @media (max-width: $laptop) {
                max-width: 210px;
            }
            max-width: 310px;
            object-fit: contain;
        }

        article {
            // position: absolute;
            // top: 0;
            // left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: $transition;

        }

        .activeSlide {
            opacity: 1;
            transform: translateX(0);
        }
        .lastSlide {
            transform: translateX(-100%);
        }
        .nextSlide {
            transform: translateX(100%);
        }
    }

    .slider {
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .left__button, .right__button {
            width: 64px;
            height: 64px;
            background: transparent;
            border: none;
        }
    }

    .second__slider{
        max-height: 98px;
    }

    .first__slider {
    }

    .editMode {
        position: relative;
        .addIcon {
            width: 32px;
            height: 32px;
    
            &:hover {
                transition: 0.3s;
                opacity: 0.6;
            }
        }
        .menu {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            margin-bottom: 5px;
            z-index: 4;

            .change {
                width: 34px;
                height: 34px;
            }

            label {
                max-width: 40px;
                max-height: 40px;
            }

            .editIcon, .deleteIcon {
                &:hover {
                    transition: 0.3s;
                    opacity: 0.6;
                }
            }
            .deleteIcon{
                width: 40px;
                height: 40px;
            }
            .editIcon {
                margin-left: 2px;
                width: 34px;
                height: 34px;
            }
        }
    }

    .next, .prev {
        min-width: 64px;
        min-height: 64px;
    }
}

