@import "../../../../styles/variables.scss";

.wrapper {
    max-width: 1247px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    min-height: 495px;
    border-radius: 10px;
    padding: 19px 42px;
}